<!doctype html>
%html
    %head
        %title Sia Web Interface

        %link{:rel => "stylesheet",
             :href => "lib/libraries/bootstrap.min.css"}
        %link{:rel => "stylesheet",
             :href => "lib/libraries/bootstrap-theme.min.css"}
        %link{:rel => "stylesheet",
              :href => "lib/libraries/font-awesome-4.2.0/css/font-awesome.min.css"}
        %link{:rel => "stylesheet",
             :href => "lib/stylesheets/style.css"}

        %script{:type => "text/javascript",
                :src  => "lib/libraries/jquery.js"}
        %script{:type => "text/javascript",
                :src  => "lib/libraries/bootstrap.min.js"}
        %script{:type => "text/javascript",
                :src  => "lib/scripts/util.js"}
        %script{:type => "text/javascript",
                :src  => "lib/scripts/ui.js"}
        %script{:type => "text/javascript",
                :src  => "lib/scripts/controller.js"}
        %script{:type => "text/javascript",
                :src  => "lib/scripts/views/overview.js"}
        %script{:type => "text/javascript",
                :src  => "lib/scripts/views/hosting.js"}
        %script{:type => "text/javascript",
                :src  => "lib/scripts/views/mining.js"}
        %script{:type => "text/javascript",
                :src  => "lib/scripts/views/manage-account.js"}
        %script{:type => "text/javascript",
                :src  => "lib/scripts/views/money.js"}
        %script{:type => "text/javascript",
                :src  => "lib/scripts/views/files.js"}
        %script{:type => "text/javascript",
                :src  => "lib/scripts/views/transfer-funds.js"}
        :javascript
            $(window).ready(function(){
                ui.init();
                controller.init();
                setTimeout(function(){
                    $("#overview").hide();
                    $("#transfer-funds").show();
                },100);
            });

    %body
        = Haml::Engine.new(File.read('markup/header.haml')).render
        .container
            #sidebar-and-content.row
                = Haml::Engine.new(File.read('markup/sidebar.haml')).render
                #content.col-md-9
                    #loader
                        %i.fa.fa-circle-o-notch.fa-spin
                    = Haml::Engine.new(File.read('markup/pages/overview.haml')).render
                    = Haml::Engine.new(File.read('markup/pages/mining.haml')).render
                    = Haml::Engine.new(File.read('markup/pages/manage-account.haml')).render
                    = Haml::Engine.new(File.read('markup/pages/money.haml')).render
                    = Haml::Engine.new(File.read('markup/pages/files.haml')).render
                    = Haml::Engine.new(File.read('markup/pages/hosting.haml')).render
                    = Haml::Engine.new(File.read('markup/pages/transfer-funds.haml')).render
            = Haml::Engine.new(File.read('markup/footer.haml')).render
        = Haml::Engine.new(File.read('markup/hovering.haml')).render
